.nav-wrapper {
	position: relative;
	background-color: black;
}

nav {
	color: white;
	display: flex;
	justify-content: space-between;
	gap: var(--navbar-padding);
	padding: 0px var(--navbar-padding) 0px var(--navbar-padding);
	height: var(--navbar-height);
	font-size: 1em;
}

.nav-left-container {
	display: flex;
	list-style-type: none;
	padding: 0px;
	gap: var(--navbar-padding);
	margin: auto 0 auto 0;
	color: gray;
	font-weight: bold;

	li:nth-child(4) {
		color: white;
	}

	li:hover {
		cursor: pointer;
		color: #007bff;
		transition: color 0.3s ease;
	}

	.logo {
		color: white;
		display: flex;
		align-items: center;
		height: var(--navbar-height);
		font-weight: bold;
		font-size: 1.5em;
		padding-bottom: 8px;
	}
}

.nav-right-container {
	display: flex;
	align-items: center;
}

form {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: calc(var(--navbar-padding) / 3);
}

button {
	font-size: 1em;
	border-radius: 15px;
	min-width: 88px;
}
