<div class="nav-wrapper">
	<nav>
		<div class="nav-left-container">
			<div class="logo">DatingApp</div>
			<ul
				*ngIf="accountService.currentUser$ | async"
				class="nav-left-container"
			>
				<li>Matches</li>
				<li>Lists</li>
				<li>Messages</li>
			</ul>
		</div>
		<div class="nav-right-container">
			<div
				*ngIf="accountService.currentUser$ | async"
				class="btn-group"
				dropdown
			>
				<button
					id="button-animated"
					dropdownToggle
					type="button"
					class="btn btn-primary dropdown-toggle"
					aria-controls="dropdown-animated"
				>
					Account <span class="caret"></span>
				</button>
				<ul
					id="dropdown-animated"
					*dropdownMenu
					class="dropdown-menu dropdown-menu-end"
					role="menu"
					aria-labelledby="button-animated"
				>
					<li role="menuitem">
						<a class="dropdown-item" href="#">Action</a>
					</li>
					<li role="menuitem">
						<a class="dropdown-item" href="#">Another action</a>
					</li>
					<li role="menuitem">
						<a class="dropdown-item" href="#"
							>Something else here</a
						>
					</li>
					<li role="menuitem">
						<a class="dropdown-item" href="#" (click)="logout()"
							>Logout</a
						>
					</li>
				</ul>
			</div>
			<form
				*ngIf="!(accountService.currentUser$ | async)"
				#loginForm="ngForm"
				(ngSubmit)="login()"
				autocomplete="off"
			>
				<input
					name="userName"
					[(ngModel)]="model.userName"
					type="text"
					class="form-control"
					placeholder="Username"
				/>
				<input
					name="password"
					[(ngModel)]="model.password"
					type="password"
					class="form-control"
					placeholder="Password"
				/>
				<button type="submit" class="btn btn-primary btn">Login</button>
			</form>
		</div>
	</nav>
</div>
