<div *ngIf="!register" class="container">
	<div class="row mb-3">
		<h1 class="display-2 text-center fw-normal">Find your match</h1>
	</div>
	<div class="row mb-3">
		<h2 class="lead text-center">
			If you want to find someone, just sign up!
		</h2>
	</div>
	<div class="row">
		<div class="column d-flex justify-content-center gap-3">
			<button
				type="button"
				class="btn btn-primary btn"
				(click)="registerF()"
			>
				Register
			</button>
			<button type="button" class="btn btn-info btn" btn-lg>
				Learn More
			</button>
		</div>
	</div>
</div>

<div *ngIf="register">
	<app-register-page></app-register-page>
</div>
