.nav-wrapper {
	position: relative;
	background-color: black;
}

nav {
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	gap: var(--navbar-padding);
	padding: 0px var(--navbar-padding) 0px var(--navbar-padding);
	height: var(--navbar-height);
	font-size: 15px;
}

.nav-left-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: var(--navbar-padding);
}

button {
	font-size: 15px;
	border-radius: 15px;
	width: 120px;
}
